@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
  background: #202020;
}

:root{
    --hue: rgb(27, 170, 22);
    --fundo: #202020;
}

span{
    color: var(--hue);
}

a{
  text-decoration: none;
  color: #fff;
}

#nav a{
  color: #000;
  text-decoration: none;
  transition: 0.4s;
  display: block;
  padding: .5rem;
  color: #fff;
}

#nav a:hover{
  color: var(--hue);
}

#header{
  border-bottom: 1px solid #4e4e4e; 
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--fundo);
  color: #fff;
}

#menu{
  display: flex;
  list-style: none;
  gap: .5rem;
  
}

#btn-mobile{
  display: none;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.content-card{
  width: 300px;
  height: 300px;
  border: 1px solid rgb(104, 150, 52);
  background: rgba(104, 150, 52, 0.692);
  padding: 1rem;
  color: #ffffffd8;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.content-card:hover{
  background: rgb(102, 163, 31);
}

.content-text-card-row{
  padding-top: 3rem;
}

.content-container-cep{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  flex-direction: column;
}

.content-container-cep-text{
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.content-input{
  width: 100%;
}

.content-input input, button{
  outline: none;
  padding: .7rem 4rem;
  background: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: 1px solid rgb(104, 150, 52);
}

.content-input button{
  cursor: pointer;
  margin-bottom: 3rem;
  margin-top: .5rem;
}

.container-cep-infos{
  display: none;
  gap: 3rem;
}

.container-cep-infos span{
  padding: 2rem 1.5rem;
  border: 1px solid rgb(104, 150, 52);
  border-radius: 9px;
  color: #fff;
}

@media (max-width: 600px) {

  #menu{
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background: var(--fundo);
    height: 0px;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu{
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
  }

  #btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  #hamburguer{
    border-top: 2px solid;
    width: 20px;
    
  }

  #hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: var(--hue);
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.active #hamburguer{
    border-top-color: transparent;
  }

  #nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }

  #nav.active #hamburguer::before{
    transform: rotate(135deg);
  }

  .container{
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .content-input input, button{
    text-align: center;
  }

}

@media (max-width: 1300px) {
  .container{
    flex-wrap: wrap;
  }

  .container-cep-infos{
    display: none;
    flex-direction: column;
  }
}